#fav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    padding: 30px;
    background-color: #f2f2f2;
    min-height: calc(100vh - 80px);
}

.myFavs {
    text-align: center;
    font-weight: 700;
    color: rgb(13, 17, 54);
    font-size: 30px;
}

.empty {
    text-align: center;
    font-weight: 700;
    color: rgb(119, 121, 140);
    margin: 40px 15px;
}

@media only screen and (max-width: 576px) {
    #fav {
        padding: 80px 30px;
    }
}
